
    h1 {
        font-family: "roslyn-mn", sans-serif;
font-weight: 700;
font-style: normal;
    }
    h2 {
        font-family: "roslyn-outline-mn", sans-serif;
font-weight: 500;
font-style: normal;
color:Blue
    }
    table {
        font-family: "roslyn-mn", sans-serif;
font-weight: 500px;
font-style: normal;
    }
    p {
        font-family: "roslyn-mn", sans-serif;
font-weight: 500px;
font-style: normal;

    }
    li {
        font-family: "roslyn-mn", sans-serif;
font-weight: 500px;
font-style: normal;
    }